.details {
    padding: 0 1.75rem;


    @media screen and (min-width:768px) {
        padding: 0 5rem;
    }

    .content {
        display: flex;
        flex-direction: column;
        height: 50vh;

        @media screen and (min-width:768px) {
            flex-direction: row;
            column-gap: 6rem;
        }

        .flag {
            margin: 1.5rem 0;
            width: 100%;

            @media screen and (min-width:768px) {
                object-fit: contain;
                flex-basis: 50%;
            }
        }

        .info {
            @media screen and (min-width:768px) {
                flex-basis: 50%;
            }

            .name {
                font-size: 1.75rem;
                margin: 1rem 0;
            }

            .div-descriptions {
                @media screen and (min-width:768px) {
                    display: flex;
                    flex-direction: row;
                }

                .description {

                    flex-basis: 50%;
                    margin-bottom: 2rem;

                    &__label {
                        font-weight: 300;
                        line-height: 2.25rem;

                        b {
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }
}